{% extends 'base/base.html'%}
{% load bootstrap4%}
{% block content %}

<div class="card-primary">
    <div class="card-header">
        <div class="card-title">Alterar a senha</div>
    </div>
    <div class="card-body ">
        <form method="POST">
            {% csrf_token%}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {% bootstrap_form form %}
                    </div>
                </div>
            </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    </div>
</div>
{% endblock content %}