{% extends 'base/base.html'%}
{%load bootstrap4 %}
{%block title%}
     {% if request.resolver_match.url_name == 'editar_usuario' %}
        Editar de Usuário
{%else%}
        Cadastro de  Usuário
{%endif%}

{%endblock title%}

{%block content%}


<div class="card-primary">
    <div class="card-header">
        Editar Usuário
    </div>
    <div class="card-body ">
        <form method="POST">
            {% csrf_token%}
                      
<div class="row">
     <div class="col-md-6">
                    <div class="form-group">
                        {% bootstrap_field form.first_name %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {% bootstrap_field form.email %}
                    </div>
                </div>
</div>
               
                     
             

            </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    </div>



</div>
{%endblock content%}