{% extends 'base/base.html'%}
{%load bootstrap4 %}

{%block title%}
     {% if request.resolver_match.url_name == 'cadastrar_usuario' %}
        Cadastra de Usuário
    {%else%}
        Editar Usuário
    {%endif%}

{%endblock title%}


{%block content%}


<div class="card-primary">
    <div class="card-header">
          {%if request.resolver_match.url_name == 'cadastrar_usuario'%}
        Cadastro de Usuário
        {%else%}
        Editar Usuário
        {%endif%}

    </div>
    <div class="card-body ">
        <form method="POST">
            {% csrf_token%}
           
<div class="row">
     <div class="col-md-6">
                    <div class="form-group">
                        {% bootstrap_field form.first_name %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {% bootstrap_field form.email %}
                    </div>
                </div>
</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {% bootstrap_field form.password1 %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {% bootstrap_field form.password2 %}
                        </div>
                    </div>
                     
             

            </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    </div>



</div>
{%endblock content%}