{% extends 'base/base.html'%}
{%load bootstrap4 %}
{%block content%}


<div class="card-primary">
    <div class="card-header">
        Cadastro Usuário
    </div>
    <div class="card-body ">
        <form method="POST">
            {% csrf_token%}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {% bootstrap_field form.username %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {% bootstrap_field form.password1 %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {% bootstrap_field form.password2 %}
                        </div>
                    </div>
                </div>

            </div>

    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

</div>
{%endblock content%}