{% extends 'base/base.html'%}

{% block content%}
<div class="container">
<div class="card-primary">
    <div class="card-header">

        Lista de usuários
        <div class="float-right"><a href="{% url 'administracao:cadastrar_usuario'%}"class="btn btn-primary btn-sm">Cadastrar Usuário</a></div>


    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-consed">
                <thead>
                <th>#</th>
                <th>Usuário</th>
                <th>Email</th>
                <th>Opção</th>

                </thead>
                <tbody>
                {% for usuario in usuarios %}
                <tr>
                     <td>{{usuario.id}}</td>
                    <td><a href="{% url 'administracao:info_user' usuario.id %}">{{usuario.username}}</a></td>
                    <td>{{usuario.email}}</td>
                    <td><a href="{% url 'administracao:editar_usuario' usuario.id %}" class="btn btn-primary">Editar</a></td>
                </tr>
                {%endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
{% endblock content%}