{% extends 'base/base.html'%}
{% load bootstrap4 %} 
    {%block title%}
    {% if request.resolver_match.url_name == 'cadastrar_servico' %}
        Cadastro de Serviço
    {%else%}
        Editar Serviço
        {%endif%}
    {%endblock title%}
{% block content %}

    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
                 {% if request.resolver_match.url_name == 'cadastrar_servico' %}
                    Cadastro de Serviço
                 {%else%}
                    Editar Serviço
                 {%endif%}
            </div>
        </div>
        <div class="card-body">
            <form method="POST">
                {%csrf_token %}
                {% bootstrap_form form%}
                <Button type="submit" class="btn btn-primary">Salvar</Button>
            </form>
         </div>
    </div>
{%endblock content %}
    